footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    bottom: 0;
    background: $color-background;
    height: 88px;
    align-items: center;
    p{
        margin: 0;
        padding: 0;
        margin-left: 6.9%;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: $color-font;
        letter-spacing: 0;
        line-height: 22px;
        font-family: 'IBM Plex Mono', monospace;
    }
    .conteiner-social{
        margin-right: 4.4%;
        display: flex;
        justify-content: space-around;
        margin: 16px 30px;
        a{
            margin: 0 10px 0 10px;
            color: black;
        }
    }
}
@media screen and (max-width: 1024px){
    footer{
        justify-content: center;
        flex-direction: column;
        color: $color-font;
        p{
        margin-left: 0;
        font-size: 14px;
        font-weight: 100;
        }
        .conteiner-social{
            margin-right: 0;
            width: 40%;
            a{
                margin: 0 20% 0 20%;
            }
        }
    }
}